.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: 
    #FFFFFF;
    max-width: 1536px;
    

}
.menu{
    display: flex;
    text-decoration: none;
    gap: 32px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.btn{
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    font-size: 16px;
    font-weight: semibold;
    color: #FFFFFF;
    cursor: pointer;
}
#banner{
    background-image: url(assets/hero-bg.png);
   background-color:;
   width: ;
   height: 550px;

}
#banner .banner-container{
    padding: 70px 120px 134px;
    text-align: center;
}
.banner-container .banner-btn{
    display: flex;
    gap: 20px;
    
}
.banner-container .banner-heading{
    
}
